/*-----------------------*/
/*----- CSS Styles -----*/
/*---------------------*/

/* Body */
body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* Page ID */
#page {
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
}

/* Offcanvas Class (Not Currently In Use */
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}

.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

/* Links (Not Currently In Use) */
a {
  color: #DD356E;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #DD356E;
  outline: none;
  text-decoration: none;
}

/* Headings */
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Inconsolata", Arial, sans-serif;
  margin: 0 0 20px 0;
}

/* Highlighting & Selection */
::-webkit-selection {
  color: #fff;
  background: #5073B8;
}

::-moz-selection {
  color: #fff;
  background: #5073B8;
}

::selection {
  color: #fff;
  background: #5073B8;
}

#site-header .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

/* Website Preloader */
.Preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loaderOne.svg) center no-repeat #fff;
}

/* Profile Picture (Padding) */
.profilePicture {
  padding-top: 5.5vh;
}

/* My Avatar (Image) */
.myAvatar {
  vertical-align: middle;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  border: 0.95vh solid #5073b8;
}

.rightPadding {
  padding-right: 5%;
}

/* General Icons */
.icon {
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 15%;
}

/* Social Icons */
.github-icon {
  border: 0.5vh solid #DD356E;
  padding-left: none;
}

.linkedin-icon {
  border: 0.5vh solid #5073b8;
}

.mail-icon {
  border: 0.5vh solid #07b39b;
  padding-right: none;
}

/* The Main Title */
#mainTitle {
  color: #fff !important;
  font-weight: bolder !important;
  font-size: 8vh !important;
  font-family: "Montserrat" !important;
}

/* Typed Introduction */
#anIntroduction {
  color: #fff !important;
  font-weight: bolder !important;
  font-size: 6.5vh !important;
}

#homeContent {
  padding-top: 4.7vh;
}

/* Different Measurements For Mobile Devices */
@media screen and (max-width: 768px) {
  .profilePicture {
    padding-top: 6.5vh;
  }

  .myAvatar {
    width: 37vh;
    height: 37vh;
  }

  .icon {
    width: 10vh;
    height: 10vh;
  }

  .github-icon {
    border: 0.6vh solid #DD356E;
    padding-left: none;
  }

  .linkedin-icon {
    border: 0.6vh solid #5073b8;
  }

  .mail-icon {
    border: 0.6vh solid #07b39b;
    padding-right: none;
  }

  #mainTitle {
    color: #fff !important;
    font-weight: bolder !important;
    font-size: 6vh !important;
  }

  #anIntroduction {
    font-weight: normal !important;
    font-size: 4.25vh !important;
  }

  #homeContent {
    padding-top: 4.7vh;
  }

  .iconSpace {
    padding-top: 2vh;
  }

  .display-tc {
    height: 100vh;
    width: 95vw;
  }
}
