/*-----------------------*/
/*----- CSS Styles -----*/
/*---------------------*/

/* Body */
body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* Page ID */
#page {
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
}

/* Headings */
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Inconsolata", Arial, sans-serif;
  margin: 0 0 20px 0;
}

/* Highlighting & Selection */
::-webkit-selection {
  color: #fff;
  background: #5073B8;
}

::-moz-selection {
  color: #fff;
  background: #5073B8;
}

::selection {
  color: #fff;
  background: #5073B8;
}

#site-header .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

/* Website Preloader */
.Preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loaderOne.svg) center no-repeat #fff;
}

/* Profile Picture (Padding) */
.profilePicture {
  padding-top: 5.5vh;
}

/* My Avatar (Image) */
.myAvatar {
  vertical-align: middle;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  border: 0.95vh solid #5073b8;
}

.rightPadding {
  padding-right: 5%;
}

/* General Icons */
.icon {
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 15%;
}

/* Social Icons */
.github-icon {
  border: 0.5vh solid #DD356E;
  padding-left: none;
}

.linkedin-icon {
  border: 0.5vh solid #5073b8;
}

.mail-icon {
  border: 0.5vh solid #07b39b;
  padding-right: none;
}

/* The Main Title */
#mainTitle {
  color: #fff !important;
  font-weight: bolder !important;
  font-size: 8vh !important;
  font-family: "Montserrat" !important;
}

/* Typed Introduction */
#anIntroduction {
  color: #fff !important;
  font-weight: bolder !important;
  font-size: 6.5vh !important;
}

#homeContent {
  padding-top: 4.7vh;
}

/* Different Measurements For Mobile Devices */
@media screen and (max-width: 768px) {
  .profilePicture {
    padding-top: 6.5vh;
  }

  .myAvatar {
    width: 37vh;
    height: 37vh;
  }

  .icon {
    width: 10vh;
    height: 10vh;
  }

  .github-icon {
    border: 0.6vh solid #DD356E;
    padding-left: none;
  }

  .linkedin-icon {
    border: 0.6vh solid #5073b8;
  }

  .mail-icon {
    border: 0.6vh solid #07b39b;
    padding-right: none;
  }

  #mainTitle {
    color: #fff !important;
    font-weight: bolder !important;
    font-size: 6vh !important;
  }

  #anIntroduction {
    font-weight: normal !important;
    font-size: 4.1vh !important;
  }

  #homeContent {
    padding-top: 4.7vh;
  }

  .iconSpace {
    padding-top: 2vh;
  }

  .display-tc {
    height: 100vh;
    width: 95vw;
  }
}

/* Separate Media Query For Landscape on iPads */
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) 
{
  .profilePicture {
    padding-top: 8.5vh;
  }

  .myAvatar {
    width: 39vh;
    height: 39vh;
  }

  .icon {
    width: 15vh;
    height: 15vh;
  }

  #anIntroduction {
    font-weight: normal !important;
    font-size: 4vh !important;
  }

  #homeContent {
    padding-top: 4.7vh;
  }

  .iconSpace {
    padding-top: 2vh;
  }
}

/* Separate Media Query For Portrait on iPads */
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
{
  .profilePicture {
    padding-top: 8.5vh;
  }

  .myAvatar {
    width: 38vh;
    height: 38vh;
  }

  .icon {
    width: 10vh;
    height: 10vh;
  }

  .github-icon {
    border: 0.6vh solid #DD356E;
    padding-left: none;
  }

  .linkedin-icon {
    border: 0.6vh solid #5073b8;
  }

  .mail-icon {
    border: 0.6vh solid #07b39b;
    padding-right: none;
  }

  #mainTitle {
    color: #fff !important;
    font-weight: bolder !important;
    font-size: 6vh !important;
  }

  #anIntroduction {
    font-weight: normal !important;
    font-size: 4.1vh !important;
  }

  #homeContent {
    padding-top: 4.7vh;
  }

  .iconSpace {
    padding-top: 2vh;
  }
}

/* Separate Media Query For The iPhone X */
@media screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) 
{
  #anIntroduction {
    font-weight: normal !important;
    font-size: 4vh !important;
  }
}